# LangChain Core
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters


# Vector Store
faiss-cpu
rank_bm25

# Embeddings
sentence-transformers

# PDF Processing
pypdf
pdfplumber

# LLM
google-generativeai

# UI
gradio

# Utils
python-dotenv
pyyaml

# Jupyter Notebook
ipykernel